body {
    background-color: #ffffff;
    color: #9b4dca;
    margin-bottom: 3em;
    margin: 0;
  }
  main > header {
    z-index: 1;
    position: sticky;
    width: 100%;
    max-height: 5.5em;
    display: flex;
    justify-content: space-between;
    background-color: #d2afe7;
    padding: 1em;
    top: 0;
    overflow: hidden;
  }

  main > header > h1 {
    margin-left: 1em;
  }

  main > header > .main-search {
    margin-top: 0.7em;
    width: 40%;
  }

  section {
    margin-left: 0.5em;
  }

  section#content:first-of-type {
    padding-top: 1em;
  }

  section:last-of-type {
    margin-bottom: 3em;
  }

  main > header a.button {
    margin: 1em;
  }

  .search-tasks .button, .main-search .button, .search-project .button {
    margin: 1em;
    margin-top: 0;
  }

  footer {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #9b4dca;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    color: white;
  }

  footer > div {
    padding-right: 10px;
  }

  .row {
    overflow-x: hidden;
    width: 100%;
  }

  .side-bar {
    display: inline-block;
    border-style: solid;
    border-right: 0;
    background-color: #d2afe7;
    position: fixed;
    height: 100%;
    right: 0;
    top: 5.5em;
    padding: 1em;
    width: 20em;
  }

  .world, .project {
    display: inline-block;
  }
  
  .side-bar > h2 {
    border-bottom-style: solid;
    border-radius: 5%;
    padding: 10px;
  }

  section.flags {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .task-details {
    padding: 1em 5em 1em 2em;
    border-left: solid;
  }

  .task-details > form > div {
    display: grid;
    grid-template-columns: 10em auto;
  }

  .complete-task > button {
    margin-left: 1em;
  }
  
  img.big {
    margin: 1em;
    margin-top: 0;
    height: 7em;
    width: 7em;
  }

  img.small {
    width: 20px;
    height: 20px;
    margin-top: 0.3em;
  }

  .project .border {
    background-color: #decaeb;
    border-style: solid;
    border: #d5b8e6;
    border-radius: 5px;
    flex: 0 0 auto;
    text-align: center;
    height: 30em;
    width: 15em;
    padding-top: 1em;
    margin: 0.6em;
    margin-bottom: 2em;
  }

  .comment {
    background-color: #d5b8e6;
    border-style: solid;
    border-radius: 5px;
    padding: 1em;
    width: 50em;
    margin: 0.5em;
  }

  .comment > header {
    padding-left: 1em;
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .big-box {
    background-color: white;
    border-style: solid;
    border: #d5b8e6;
    border-radius: 5px;
    flex: 0 0 auto;
    margin: 5px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    text-align: center;
  }

  .box {
    background-color: #efe1f7;
    border-style: solid;
    border: none;
    border-radius: 10px;
    flex: 0 0 auto;
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 10em;
    max-height: 10em;
    aspect-ratio: 2/1;
  }

  .myworld, .myproject, .mytask{
    border-style: solid;
    border: #d5b8e6;
    background-color: #efe1f7;
    margin: 1em;
    margin-right: 2em;
    padding: 10px;
    padding-bottom: 0;
  }

  #content label {
    font-weight: normal;
  }
  #content > form {
    margin: 0 auto;
    padding: 1em;
    max-width: 20em;
    border: 1px solid #d2afe7;
  }
  #content > form .error {
    font-weight: bold;
    color: #ff3333;
  }
  #content > form .success {
    font-weight: bold;
    color: #106af1;
  }
  #content > form input {
    background-color: white;
  }
  @media (max-width: 70em) {
    main > header {
      display: grid;
      grid-template-columns: 1fr auto;
    }
    main > header h1 {
      grid-row-end: span 2;
    }
  }
  @media (max-width: 25em) {
    body {
      margin: 0;
    }
    main > header {
      margin: 0;
      padding: 0.5em;
    }
    main > header span {
      margin: 0;
    }
    #content form {
      margin: 0;
      max-width: 25em;
    }
  }
  /**
   * Override milligram colors
   * Some styles might be missing
   **/
  button {
    background-color: #9b4dca;
    border-color: #9b4dca;
  }
  a.button {
    background-color: #9b4dca;
    border-color: #9b4dca;
  }
  a.button.button-outline {
    color: #9b4dca;
  }
  a {
    color: #9b4dca;
  }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus {
    border-color: #9b4dca;
  }

.search-project{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}


.search-tasks {
  width: 30%;
}

.search-project {
  width: 60%;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Ensure it appears above other elements, adjust as needed */
}

.popup-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Hamburguer Menu */
#menu-toggle {
  display: none;
}

.label-toggle {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #d2afe7;
  top: 30px;
  position: absolute;
  left: 20px;
  cursor: pointer;
  z-index: 2;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.label-toggle:before {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.label-toggle:after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.label-toggle + .label-toggle:after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #d2afe7;
  position: fixed;
  top: 5.5em;
  left: -15%;
  width: 15%;
  height: 95%;
  text-align: center;
  transition: left 0.3s ease;
}

.menu li:first-child {
  border-top: 1px solid #fff;
}

.menu li {
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

#menu-toggle:checked + .label-toggle + .menu {
  left: 0;
}


