@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  h1 {
    @apply text-bMobile tablet:text-bTablet desktop:text-bDesktop;
  }
  h2 {
      @apply text-mMobile tablet:text-mTablet desktop:text-mDesktop text-white text-opacity-90;
  }
  h3 {
    @apply text-msMobile tablet:text-msTablet desktop:text-msDesktop text-white text-opacity-80;
}
  input, select, option, textarea {
    @apply focus:outline focus:outline-green outline-none py-2 px-2 whitespace-nowrap text-black rounded text-sMobile tablet:text-sTablet desktop:text-sDesktop;
  }
  h4, p {
    @apply text-sMobile tablet:text-sTablet desktop:text-sDesktop break-words text-white text-opacity-75;
  }
}

@layer components {
    .menu-item {
      @apply bg-black bg-opacity-50 py-2 h-16 flex justify-around items-center;
    }    
    .button {
      @apply bg-green text-white rounded py-2 px-4 text-sMobile tablet:text-sTablet desktop:text-sDesktop cursor-pointer hover:animate-pulse;
    }
    .link {
      @apply sm:py-2 mx-5 h-fit w-fit text-sMobile tablet:text-sTablet desktop:text-sDesktop break-words cursor-pointer;
    }
    .panel {
      @apply flex overflow-auto justify-start my-5;
    }
    .container {
      @apply flex flex-col justify-end min-w-[10rem] w-48 tablet:min-w-[14rem] tablet:w-56 desktop:min-w-[18rem] desktop:w-72 h-28 tablet:h-36 desktop:h-40 m-1 mr-4 bg-black rounded outline outline-1 outline-white/10;
    }
    .title {
      @apply h-1/4 w-full overflow-hidden whitespace-nowrap py-2 px-4;
    }
    .desc {
      @apply h-1/4 overflow-hidden pt-0 pb-3 px-4;
    }
    .desc h4 {
      transform: translateY(0);
      transition: 2.5s;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .title a {
      @apply w-fit block translate-x-0 transition duration-[2500ms];
    }
    .desc:hover h4 {
      transform: translateY(calc(1.5em - 100%));
    }
    .tag {
      @apply bg-grey rounded-full h-fit w-fit p-1 m-0.5;
    }
    .form-post {
      @apply flex flex-col py-2 px-3 m-1 my-4 child:my-2 outline outline-1 outline-white/20 bg-black bg-opacity-80 rounded;
    }
    .error {
      @apply text-red text-msMobile tablet:text-msTablet desktop:text-msDesktop;
    }
}